<div class="ui center aligned column grid" style="margin-top:2.5em;">
  <div class="row">
    <h1>Welcome to MessageMe - <em>a complete Chat app</em></h1>
  </div>
  <h2 class="ui center aligned medium icon header" style="margin-bottom:2.5em;">
    <i class="circular icon">
      <div class="ui middle aligned tiny image">
        <img src="/images/logo-192.png" style="width: 3.5em; margin-bottom: 1em;">
      </div>
    </i>  
    Sign up a new user
  </h2>  
</div>
<%= render 'form' %> 