@import "semantic-ui";

.no-rounded-corner{
  border-radius: 0 !important;
}

.no-rounded-left{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-rounded-right{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.max-width-6{
  max-width: 6em !important;
}

.chatbox{
  height: 50vh;
}

#messages{
  overflow: auto;
  height: 15em;
}

.no-pointer{
  pointer-events: none;
}

#users{
  overflow: auto;
  height: 22em;
}